.header{
  .header_bar{
    width:100%;
    height:100px;
    padding:10px 100px;
    display: flex;
    justify-content:space-between;
    .new_tweet_btn{
      // display: block;
      width:100px;
      height:50px;
    }
    .user_btn{
      // display:block;
      width:100px;
      height:50px;
    }
  }
}
