.tweet_main{
  .tweet_box{
    width: 700px;
    margin: 0 auto;
    padding: 0px 150px;
    background-color: beige;
    .tweet_text{
      display:block;
    }
    .tweet_image{
      display: block;
    }
    .tweet_name{
      display: block;
    }
  }
}
